@font-face {
  font-family: 'devroye';
  src: url('./fonts/DEVROYUN.ttf');
  font-style: normal;
}
body {
  font-family: 'devroye';
  background-color: #eee;
}

.collection-container {
  padding: 10px 100px;
}

.active {
  background-color: #ccc;
}

.disable {
  opacity: 0.7;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
